#root {
    -fx-background-color: red;
}

#root > VBox {
    -fx-spacing: 10px;
}

.button {
    -fx-border-radius: 10px;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-width: 10px;
    -fx-background-color: linear-gradient(to bottom, green, darkgreen);
    -fx-max-width: 220px;
    -fx-max-height: 100px;
    -fx-font-size: 16;
    /*TODO: Gradients, fonts, arrow:hover*/
}