#root {
    -fx-background-color: red;
}

#root > VBox {
    -fx-spacing: 10px;
}

#root > VBox > Button {
    -fx-border-radius: 10px;
    -fx-background-radius: 15px;
    -fx-border-color: black;
    -fx-border-width: 10px;
    -fx-background-color: linear-gradient(to bottom, green, darkgreen);
    -fx-max-width: 220px;
    -fx-max-height: 100px;
    -fx-font-size: 16;
}

#root > VBox > Button:hover {
    -fx-text-fill: white;
}

.overlay {
    -fx-background-color: grey;
    -fx-opacity: 0.8;
    -fx-padding: 30px;
}

.overlay > .h1 {
    -fx-font-size: 20;
    -fx-text-fill: white;
}

#clickToStart > Text {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 30;
}

#clickToStart {
    -fx-alignment: center;
}